extends layout

block content
    form(method="post" action="/add/add-part")
        label(for="name") Название принтера
        select#name(name="name")
            option(value="Шарик") Шарик
            option(value="Рик") Рик
            option(value="Китайцы") Китайцы
            option(value="177") 177
            option(value="Конь") Конь
        label(for="part") Название запчасти
        select#part(name="part")
            each item in data
                option(value=item.title_rus) #{item.title_rus}
        label(for="amount") Количество
        input#amount(type="number" name="amount" value="")
        label(for="date") Дата
        input#date(type="date" name="date" value="")
        input(type="submit" value="Добавить")
