body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.nav_menu a, .nav_menu_printers a{
  border: 1px solid black;
  font-family: "Times New Roman";
  font-size: 20px;
  text-decoration: none;
  color: black;
  word-wrap: break-word;
  padding: 10px;
}
.nav_menu ul, .nav_menu_printers ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.nav_menu li, .nav_menu_printers li{
  list-style-type: none;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
form input{
  padding: 5px;
}
.message{
  font-size: 25px;
  color: red;
}
.messageSuccess{
  font-size: 25px;
  color: lime;
}
h4{
  text-align: center;
}
