extends ../layout

block content
    form(method="post" action="/parts/add-new-parts/add-new-part")
        label(for="serial_id") Серийный номер
        input#serial_id(type="text" name="serial_id" value="")
        label(for="title_rus") Название запчасти на русскому
        input#title_rus(type="text" name="title_rus" value="")
        label(for="title_latin") Название запчасти на латыни
        input#title_latin(type="text" name="title_latin" value="")
        input(type="submit" value="Добавить")

